<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <ul class="list">
        <li><a href="/">首頁</a></li>
        <li><a href="/users/signout">登出</a></li>
        <li><a href="/users/profile">個人</a></li>
    </ul>
    <h1>新增文章</h1>
    <h3>使用者: <%= user %></h3>
    <form action="/users/add" method="POST">
        <textarea name="Content" id="" cols="50" rows="25"></textarea>
        <input type="submit" name="submit" value="保存">
    </form>
</body>
</html>